<!DOCTYPE html>
<html>
<head>
        <title>"Hello World" from ansible</title>
        <style>
                body {
                        background-color: lightblue;
                }

                h1 {
                        color: Black;
                        font-size: 30px;
                        font-family: Arial;
                        text-align: center;
                }
        </style>
</head>
<body>
        <h1 class="center">Hello World From {{ansible_hostname}}</h1>
</body>
</html>

